// Here you can add other styles
body {
  font-family: 'Nunito Sans', sans-serif;
}
.div-logo {
  border: 3px dotted black;
  height: 200px;
 width: 200px;
}

.icon_action {
  cursor: pointer;
}

.box {
  margin-bottom: 20px;
  background: #736fa9;
  border: 1px solid #677294;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Nunito Sans', Courier, monospace;
}
.mybtn {
  border: 3px solid #736fa9;
}
